<ion-view view-title="Empresas">
  <ion-content>
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" ng-focus="clearStatus()" ng-model="empresa_seleccionada.rut" placeholder="Rut Empresa a Solicitar">
            </label>
            <button class="button button-small button-positive icon ion-ios-plus-outline" on-release="agregarEmpresa()"></button>
          </div>
        </div>
        <ion-list ng-repeat="error in errores" ng-show="errores">
          <ion-item class="error">{{error.errDescripcion}}</ion-item>
        </ion-list>
        <div class="item item-divider item-positive"> 
            Empresas Solicitadas
        </div>
        <ion-list ng-repeat="empresa in empresasSolicitadasObjeto">
            <ion-item class="item-button-right">{{empresa.rutEmpresa | rutfmt}} {{empresa.razonSocial}}
              <div class="buttons">
                <button class="button button-positive icon ion-ios-close-outline" on-release="autorizar('{{empresa.rutEmpresa}}','NO')"></button>
                <button class="button button-positive icon ion-ios-checkmark-outline" on-release="autorizar('{{empresa.rutEmpresa}}','SI')"></button>
              </div>
            </ion-item>
        </ion-list>
        <div class="item item-divider item-positive"> 
            Empresas Autorizadas
        </div>
        <ion-list ng-repeat="empresa in empresasAsignadasObjeto">
            <ion-item class="item-button-right"><a href="#/app/perfiles/{{rut}}/{{empresa.rutEmpresa}}/">{{empresa.rutEmpresa | rutfmt}} {{empresa.razonSocial}}</a>
              <div class="buttons">
                <button class="button button-positive icon ion-ios-close-outline" on-release="autorizar('{{empresa.rutEmpresa}}','NO')"></button>
              </div>
            </ion-item>
        </ion-list>
  </ion-content>
</ion-view>
