<ion-view view-title="Firmantes de {{documento_workflow.nombre}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear icon ion-ios-plus-outline" on-release="habilitarCreacion()"></button>
        <button class="button button-clear icon ion-ios-minus-outline" ng-click="habilitarBorrado()"></button>
        <button class="button button-clear icon ion-ios-drag" ng-click="habilitarOrdenacion()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset" ng-if="creacion_habilitada">
            <ion-list ng-repeat="perfil in perfiles">
                    <ion-item class="item-button-right">{{perfil.codigoPerfil}}
                        <div class="buttons">
                            <button class="button button-positive icon ion-ios-checkmark-outline" on-release="agregarFirmante('{{perfil.codigoPerfil}}','{{perfil.nombrePerfil}}')"></button>
                        </div>
                    </ion-item>
            </ion-list>
        </div>
        <ion-list show-reorder="ordenacion_habilitada" show-delete="borrado_habilitado" can-swipe="true">
            <ion-item ng-repeat="firmante in documento_workflow.firmantes" href="#/app/workflow/{{empresaSeleccionada}}/{{documento_workflow.codigo}}/{{firmante.orden}}">
                <ion-delete-button class="ion-minus-circled" ng-click="borrarFirmante(firmante)"></ion-delete-button>
                <div class="row">
                    <div class="col no-padding">{{firmante.orden}}</div>
                    <div class="col no-padding">{{firmante.nombrePerfil}}</div>
                    <div class="col no-padding">{{firmante.descripcionPerfil}}</div>
                </div>
                <ion-reorder-button class="ion-navicon" on-reorder="moverFirmante(firmante, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
